# CONFIG_MEMCG is not set
CONFIG_MODULES=y
# CONFIG_MODULE_FORCE_LOAD is not set
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
CONFIG_MODVERSIONS=y
# CONFIG_MODULE_SRCVERSION_ALL is not set
# CONFIG_MODULE_SIG is not set
# CONFIG_MODULE_COMPRESS is not set
CONFIG_ASN1=y
CONFIG_MMAP_READAROUND_LIMIT=16
# CONFIG_BALANCE_ANON_FILE_RECLAIM is not set
CONFIG_TIMA_LKMAUTH=y
CONFIG_TIMA_RKP=y
CONFIG_UH_RKP=y
CONFIG_TIMA_RKP_4G=y
# CONFIG_RKP_KDP is not set
# CONFIG_BPF_JIT is not set
# CONFIG_BT_QCA9377 is not set
CONFIG_BT_BCM43XX=y
# CONFIG_FM_LNA is not set
# CONFIG_FM_DTV_CTRL is not set
CONFIG_CFG80211_INTERNAL_REGDB=y
# CONFIG_CFG80211_REG_NOT_UPDATED is not set
CONFIG_SAMSUNG_NFC=y
# CONFIG_ESE_P3_LSI is not set
# CONFIG_ESE_SECURE is not set
CONFIG_SEC_NFC=y
CONFIG_SEC_NFC_PRODUCT_N5=y
CONFIG_SEC_NFC_IF_I2C=y
# CONFIG_SEC_NFC_LDO_CONTROL is not set
CONFIG_NETPM=y
# CONFIG_GPIO_DS_DETECT is not set
# CONFIG_MUIC_SUPPORT_CCIC is not set
CONFIG_MUIC_S2MU005=y
# CONFIG_MUIC_S2MU005_INNER_BATTERY is not set
# CONFIG_MUIC_S2MU005_ENABLE_AUTOSW is not set
CONFIG_MUIC_S2MU005_JIGB_CONTROL=y
# CONFIG_MUIC_S2MU005_DISCHARGING_WA is not set
CONFIG_MUIC_S2MU005_WATER_WA_DISABLE=y
# CONFIG_MFD_S2MU004 is not set
CONFIG_BATTERY_SAMSUNG_V2=y
# CONFIG_BATTERY_AGE_FORECAST_DETACHABLE is not set
CONFIG_BATTERY_CISD=y
CONFIG_FUELGAUGE_S2MU005=y
CONFIG_CHARGER_S2MU005=y
# CONFIG_BATTERY_NOTIFIER is not set
CONFIG_S2MU005_EVT4_DISABLE_BUCK_MODE=y
# CONFIG_TYPEB_WATERPROOF_MODEL is not set
# CONFIG_USB_TYPEC_MANAGER_NOTIFIER is not set
# CONFIG_QCOM_WIFI is not set
CONFIG_WLAN_QCA9377_DUAL_BDF=0
# CONFIG_CNSS_SDIO is not set
# CONFIG_WLAN_SSR_ENABLED is not set
# CONFIG_WCNSS_MEM_PRE_ALLOC is not set
# CONFIG_BCM4343 is not set
# CONFIG_BCM43455 is not set
CONFIG_BROADCOM_WIFI_RESERVED_MEM=y
CONFIG_WIFI_BROADCOM_COB=y
CONFIG_WLAN_REGION_CODE=100
CONFIG_BROADCOM_WIFI=y
# CONFIG_BCM43436 is not set
# CONFIG_BCM43012 is not set
# CONFIG_BCM4358 is not set
# CONFIG_BCM4359 is not set
# CONFIG_BCM4361 is not set
CONFIG_BCM43456=y
# CONFIG_WL_NAN is not set
# CONFIG_BCMDHD_PREALLOC_MEMDUMP is not set
# CONFIG_WLAN_HERO is not set
# CONFIG_WLAN_HERO2 is not set
CONFIG_BCMDHD_OOB_HOST_WAKE=y
# CONFIG_SPLIT_ARGOS_SET is not set
# CONFIG_WLAN_GRACE is not set
# CONFIG_WLAN_GREAT is not set
# CONFIG_BCM_DETECT_CONSECUTIVE_HANG is not set
CONFIG_WLAN_VHTDISABLE=y
# CONFIG_WLAN_5GDISABLE is not set
CONFIG_INPUT_TOUCHSCREEN_TCLMV2=y
CONFIG_HALL=y
# CONFIG_HALL_NOTIFIER is not set
# CONFIG_CERTIFY_HALL is not set
# CONFIG_KEYBOARD_TC300K is not set
# CONFIG_TOUCHKEY_GRIP is not set
# CONFIG_KEYBOARD_ABOV_TOUCH_T316 is not set
# CONFIG_KEYBOARD_MELFAS_MHS204 is not set
# CONFIG_KEYBOARD_MELFAS_MHS2041B is not set
CONFIG_TOUCHSCREEN_DUMP_MODE=y
# CONFIG_TOUCHSCREEN_IST3038H is not set
# CONFIG_TOUCHSCREEN_IMAGIS_LPM_NO_RESET is not set
CONFIG_TOUCHSCREEN_ZINITIX_ZT75XX_TCLM=y
# CONFIG_TOUCHSCREEN_MELFAS_MMS438 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_DSX2 is not set
# CONFIG_TOUCHSCREEN_SEC_INCELL_TS is not set
# CONFIG_FIX_I2C_BUS_NUM is not set
# CONFIG_I2C_STUB is not set
CONFIG_SENSORS_FP_SPI_NUMBER=1
CONFIG_SENSORS_FP_SPI_GPIO="gpc7"
# CONFIG_MST_SECURE_GPIO is not set
# CONFIG_SEC_CHARGER_S2MU005 is not set
# CONFIG_SEC_FUELGAUGE_S2MU005 is not set
CONFIG_MFD_S2MU005=y
CONFIG_MFD_CS35L40=y
CONFIG_MFD_CS35L40_I2C=y
# CONFIG_MEDIA_RADIO_SUPPORT is not set
# CONFIG_CAMERA_CIS_5E3_OBJ is not set
# CONFIG_CAMERA_CIS_5E9_OBJ is not set
# CONFIG_CAMERA_CIS_4H5YC_OBJ is not set
CONFIG_CAMERA_CIS_2P6_OBJ=y
# CONFIG_CAMERA_CIS_3L2_OBJ is not set
# CONFIG_CAMERA_CIS_3M3_OBJ is not set
# CONFIG_CAMERA_CIS_IMX258_OBJ is not set
# CONFIG_CAMERA_CIS_IMX219_OBJ is not set
# CONFIG_CAMERA_ACT_DW9807_OBJ is not set
# CONFIG_CAMERA_ACT_ZC533_OBJ is not set
CONFIG_CAMERA_ACT_ZC535_OBJ=y
# CONFIG_CAMERA_MIPI_PHY_SELECT_M0S2 is not set
# CONFIG_CAMERA_EEPROM_SUPPORT_REAR3 is not set
CONFIG_CAMERA_EEPROM_SUPPORT_FRONT=y
# CONFIG_CAMERA_OTPROM_SUPPORT_FRONT is not set
# CONFIG_CAMERA_J7X is not set
# CONFIG_CAMERA_ON7X is not set
# CONFIG_CAMERA_A3Y17 is not set
# CONFIG_CAMERA_J5Y17 is not set
# CONFIG_CAMERA_J7Y17 is not set
# CONFIG_CAMERA_J7VE is not set
# CONFIG_CAMERA_ON7XREF is not set
# CONFIG_CAMERA_J6 is not set
CONFIG_CAMERA_A6=y
# CONFIG_CAMERA_M10LTE is not set
# CONFIG_FM_SI47XX is not set
# CONFIG_ISDBT is not set
# CONFIG_EXYNOS7870_DISPLAY_COMMAND_MODE is not set
CONFIG_EXYNOS7870_DISPLAY_VIDEO_MODE=y
# CONFIG_DECON_USE_BOOTLOADER_FB is not set
# CONFIG_EXYNOS_MIPI_DSI_ENABLE_EARLY is not set
CONFIG_PANEL_AID_DIMMING=y
CONFIG_EXYNOS_DECON_MDNIE_LITE=y
# CONFIG_LCD_DOZE_MODE is not set
CONFIG_DISPLAY_USE_INFO=y
# CONFIG_PANEL_EA8061S_J7XE is not set
# CONFIG_PANEL_TD4300 is not set
# CONFIG_PANEL_S6E3AA2_A3Y17 is not set
# CONFIG_PANEL_S6E8AA5X01 is not set
# CONFIG_PANEL_S6E3FA3_J7Y17 is not set
# CONFIG_PANEL_EA8061S_J7VE is not set
CONFIG_PANEL_S6E8AA5X01_A6LTE=y
# CONFIG_PANEL_S6E8AA5X01_J6Y18 is not set
# CONFIG_PANEL_S6D7AT0B_M10LTE is not set
# CONFIG_SND_SOC_TFA_LOG is not set
CONFIG_SND_SOC_WM_ADSP=y
CONFIG_SND_SOC_CS35L40=y
# CONFIG_SND_SOC_COD30XX_EXT_ANT is not set
# CONFIG_DUAL_ROLE_USB_INTF is not set
CONFIG_MMC_UNIQUE_NUMBER=y
CONFIG_LEDS_S2MU005_FLASH=y
# CONFIG_LEDS_S2MU005_RGB is not set
CONFIG_S2MU005_LEDS_I2C=y
CONFIG_LEDS_SUPPORT_FRONT_FLASH=y
CONFIG_LEDS_SUPPORT_FRONT_FLASH_AUTO=y
# CONFIG_LEDS_RT8547 is not set
CONFIG_S2MU005_ACOK_NOTIFY=y
# CONFIG_COMEDI is not set
# CONFIG_RTLLIB is not set
# CONFIG_LTE_GDM724X is not set
# CONFIG_LUSTRE_FS is not set
CONFIG_SEC_DEBUG_EXTRA_INFO=y
CONFIG_SEC_DEBUG_HW_PARAM=y
CONFIG_SEC_DEBUG_AUTO_SUMMARY=y
# CONFIG_SEC_HW_REV is not set
# CONFIG_SEC_DEBUG_GAF_V3 is not set
CONFIG_SEC_DEBUG_GAF_V5=y
# CONFIG_SEC_INCELL is not set
# CONFIG_IIO_BUFFER is not set
# CONFIG_IIO_TRIGGER is not set
CONFIG_PREVENT_SOC_JUMP=y
CONFIG_CONDITIONAL_SAFETY_TIMER=y
CONFIG_S2MU005_INNER_BATTERY=y
CONFIG_EXYNOS_SNAPSHOT_SAVE_SLUGGISHINFO=y
# CONFIG_USE_CCIC is not set
# CONFIG_CCIC_NOTIFIER is not set
CONFIG_TRUSTONIC_TRUSTED_UI=y
CONFIG_TRUSTONIC_TRUSTED_UI_FB_BLANK=y
CONFIG_TRUSTED_UI_TOUCH_ENABLE=y
CONFIG_SENSORS=y
# CONFIG_SENSORS_K2HH is not set
# CONFIG_SENSORS_LIS2DS is not set
# CONFIG_SENSORS_LIS2DS_I2C is not set
CONFIG_SENSORS_LSM6DSL=y
CONFIG_SENSORS_LSM6DSL_I2C=y
# CONFIG_SENSORS_CM36672P is not set
CONFIG_SENSORS_TMD3725=y
# CONFIG_SENSORS_TMD3725_RF_NOISE_DEFENCE_CODE is not set
# CONFIG_SENSORS_STK3013 is not set
# CONFIG_SENSORS_GP2AP070S is not set
# CONFIG_SENSORS_GP2AP110S is not set
# CONFIG_SENSORS_SX9310 is not set
# CONFIG_SENSORS_SX9320 is not set
CONFIG_SENSORS_A96T3X6=y
# CONFIG_SENSORS_A96T3X6_J6 is not set
CONFIG_SENSORS_A96T3X6_A6=y
# CONFIG_SENSORS_A96T3X6_A2CORE is not set
# CONFIG_SENSORS_TC3XXK_M10 is not set
# CONFIG_SENSORS_YAS537 is not set
CONFIG_SENSORS_YAS539=y
# CONFIG_SENSORS_YAS539_DEFAULT_MATRIX is not set
# CONFIG_ST_LSM6DS3 is not set
# CONFIG_ST_LSM6DS3_I2C is not set
CONFIG_SENSORS_FINGERPRINT=y
CONFIG_SENSORS_FINGERPRINT_32BITS_PLATFORM_ONLY=y
CONFIG_SENSORS_ET5XX=y
# CONFIG_SENSORS_SSP is not set
# CONFIG_SENSORS_SSP_STM32 is not set
# CONFIG_SENSORS_SSP_2017A3 is not set
# CONFIG_SENSORS_SSP_ATUC128L5HAR is not set
# CONFIG_SENSORS_SSP_6AXIS is not set
# CONFIG_SENSORS_SSP_BMP280 is not set
# CONFIG_SENSORS_SSP_TMD3725 is not set
# CONFIG_SENSORS_SSP_AK09916 is not set
# CONFIG_SENSORS_SSP_MOBEAM is not set
CONFIG_FIVE_TEE_DRIVER=y
# CONFIG_TEE_DRIVER_DEBUG is not set
CONFIG_FIVE_EARLY_LOAD_TRUSTED_APP=y
CONFIG_F2FS_CHECK_FS=y
# CONFIG_INTERVAL_TREE_TEST is not set
# CONFIG_PERCPU_TEST is not set
# CONFIG_TEST_LKM is not set
# CONFIG_TEST_USER_COPY is not set
# CONFIG_TEST_BPF is not set
# CONFIG_DEBUG_SET_MODULE_RONX is not set
# CONFIG_DEBUG_RODATA is not set
CONFIG_SEC_RESTRICT_ROOTING=y
CONFIG_SEC_RESTRICT_SETUID=y
CONFIG_SEC_RESTRICT_FORK=y
CONFIG_SEC_RESTRICT_ROOTING_LOG=y
# CONFIG_MST_LDO is not set
CONFIG_INTEGRITY_SIGNATURE=y
CONFIG_INTEGRITY_ASYMMETRIC_KEYS=y
CONFIG_FIVE=y
# CONFIG_FIVE_DEBUG is not set
CONFIG_FIVE_CERT_USER="x509_five_user.der"
CONFIG_FIVE_DEFAULT_HASH_SHA1=y
# CONFIG_FIVE_DEFAULT_HASH_SHA256 is not set
# CONFIG_FIVE_DEFAULT_HASH_SHA512 is not set
CONFIG_FIVE_DEFAULT_HASH="sha1"
CONFIG_SECURITY_DEFEX=y
CONFIG_PROCA=y
CONFIG_SECURITY_DSMS=y
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_ASYMMETRIC_KEY_TYPE=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_PUBLIC_KEY_ALGO_RSA=y
CONFIG_X509_CERTIFICATE_PARSER=y
# CONFIG_PKCS7_MESSAGE_PARSER is not set
CONFIG_CLZ_TAB=y
CONFIG_MPILIB=y
CONFIG_SIGNATURE=y
CONFIG_OID_REGISTRY=y
