# Linux/arm64 3.18.14 Kernel Configuration
# CONFIG_CC_STACKPROTECTOR is not set
# CONFIG_CC_STACKPROTECTOR_STRONG is not set
# CONFIG_MODULES is not set
CONFIG_ARM64_PGTABLE_LEVELS=3
CONFIG_MMAP_READAROUND_LIMIT=16
# CONFIG_BALANCE_ANON_FILE_RECLAIM is not set
# CONFIG_TIMA_LKMAUTH is not set
CONFIG_TIMA_RKP=y
CONFIG_TIMA_RKP_4G=y
# CONFIG_RKP_KDP is not set
# CONFIG_NET_IPVTI is not set
# CONFIG_IPV6_VTI is not set
# CONFIG_NETLINK_MMAP is not set
# CONFIG_BT_QCA9377 is not set
CONFIG_BT_BCM43XX=y
CONFIG_FM_LNA=y
# CONFIG_FM_DTV_CTRL is not set
# CONFIG_CFG80211_INTERNAL_REGDB is not set
CONFIG_CFG80211_REG_NOT_UPDATED=y
# CONFIG_SAMSUNG_NFC is not set
# CONFIG_ESE_P3_LSI is not set
# CONFIG_ESE_SECURE is not set
# CONFIG_SEC_NFC is not set
# CONFIG_NETPM is not set
CONFIG_HAVE_CPU_AUTOPROBE=y
CONFIG_GPIO_DS_DETECT=y
# CONFIG_MUIC_SUPPORT_CCIC is not set
CONFIG_MUIC_S2MU005=y
# CONFIG_MUIC_S2MU005_INNER_BATTERY is not set
# CONFIG_MUIC_S2MU005_ENABLE_AUTOSW is not set
# CONFIG_MUIC_S2MU005_JIGB_CONTROL is not set
# CONFIG_MUIC_S2MU005_DISCHARGING_WA is not set
# CONFIG_MUIC_S2MU005_WATER_WA_DISABLE is not set
# CONFIG_MFD_S2MU004 is not set
CONFIG_BATTERY_SAMSUNG_V2=y
CONFIG_BATTERY_AGE_FORECAST_DETACHABLE=y
CONFIG_BATTERY_CISD=y
CONFIG_FUELGAUGE_S2MU005=y
CONFIG_CHARGER_S2MU005=y
# CONFIG_BATTERY_NOTIFIER is not set
CONFIG_S2MU005_EVT4_DISABLE_BUCK_MODE=y
# CONFIG_USB_TYPEC_MANAGER_NOTIFIER is not set
# CONFIG_QCOM_WIFI is not set
CONFIG_WLAN_QCA9377_DUAL_BDF=0
# CONFIG_CNSS_SDIO is not set
# CONFIG_WLAN_SSR_ENABLED is not set
# CONFIG_WCNSS_MEM_PRE_ALLOC is not set
CONFIG_BCM4343=y
# CONFIG_BCM43455 is not set
CONFIG_BROADCOM_WIFI_RESERVED_MEM=y
CONFIG_WIFI_BROADCOM_COB=y
CONFIG_WLAN_REGION_CODE=100
# CONFIG_WLAN_ON7 is not set
CONFIG_BROADCOM_WIFI=y
# CONFIG_BCM43012 is not set
# CONFIG_BCM4358 is not set
# CONFIG_BCM4359 is not set
# CONFIG_BCM4361 is not set
# CONFIG_BCM43456 is not set
# CONFIG_WL_NAN is not set
# CONFIG_BCMDHD_PREALLOC_MEMDUMP is not set
# CONFIG_WLAN_HERO is not set
# CONFIG_WLAN_HERO2 is not set
CONFIG_BCMDHD_OOB_HOST_WAKE=y
# CONFIG_SPLIT_ARGOS_SET is not set
# CONFIG_WLAN_GRACE is not set
# CONFIG_WLAN_GREAT is not set
# CONFIG_BCM_DETECT_CONSECUTIVE_HANG is not set
# CONFIG_WLAN_5GDISABLE is not set
# CONFIG_INPUT_TOUCHSCREEN_TCLMV2 is not set
# CONFIG_HALL is not set
# CONFIG_CERTIFY_HALL is not set
CONFIG_KEYBOARD_TC300K=y
# CONFIG_TOUCHKEY_GRIP is not set
# CONFIG_KEYBOARD_ABOV_TOUCH_T316 is not set
# CONFIG_KEYBOARD_MELFAS_MHS204 is not set
# CONFIG_KEYBOARD_MELFAS_MHS2041B is not set
# CONFIG_TOUCHSCREEN_DUMP_MODE is not set
# CONFIG_TOUCHSCREEN_IST3038H is not set
# CONFIG_TOUCHSCREEN_IMAGIS_LPM_NO_RESET is not set
# CONFIG_TOUCHSCREEN_ZINITIX_ZT75XX_TCLM is not set
CONFIG_TOUCHSCREEN_MELFAS_MMS438=y
# CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_DSX2 is not set
# CONFIG_FIX_I2C_BUS_NUM is not set
# CONFIG_MST_SECURE_GPIO is not set
# CONFIG_SEC_CHARGER_S2MU005 is not set
# CONFIG_SEC_FUELGAUGE_S2MU005 is not set
CONFIG_MFD_S2MU005=y
# CONFIG_MFD_CS35L40 is not set
# CONFIG_MFD_CS35L40_I2C is not set
CONFIG_MEDIA_RADIO_SUPPORT=y
CONFIG_CAMERA_CIS_5E3_OBJ=y
# CONFIG_CAMERA_CIS_4H5YC_OBJ is not set
# CONFIG_CAMERA_CIS_2P6_OBJ is not set
CONFIG_CAMERA_CIS_3L2_OBJ=y
# CONFIG_CAMERA_CIS_3M3_OBJ is not set
# CONFIG_CAMERA_CIS_IMX258_OBJ is not set
# CONFIG_CAMERA_CIS_IMX219_OBJ is not set
CONFIG_CAMERA_ACT_DW9807_OBJ=y
# CONFIG_CAMERA_ACT_ZC533_OBJ is not set
# CONFIG_CAMERA_ACT_ZC535_OBJ is not set
# CONFIG_CAMERA_EEPROM_SUPPORT_FRONT is not set
CONFIG_CAMERA_OTPROM_SUPPORT_FRONT=y
# CONFIG_CAMERA_J7X is not set
# CONFIG_CAMERA_ON7X is not set
# CONFIG_CAMERA_A3Y17 is not set
# CONFIG_CAMERA_J5Y17 is not set
# CONFIG_CAMERA_J7Y17 is not set
CONFIG_CAMERA_J7VE=y
# CONFIG_CAMERA_ON7XREF is not set
# CONFIG_CAMERA_J6 is not set
# CONFIG_CAMERA_A6 is not set
CONFIG_RADIO_ADAPTERS=y
# CONFIG_FM_SI47XX is not set
# CONFIG_RADIO_SI470X is not set
# CONFIG_RADIO_SI4713 is not set
CONFIG_RADIO_RTC6213N=y
CONFIG_I2C_RTC6213N=y
# CONFIG_USB_MR800 is not set
# CONFIG_USB_DSBR is not set
# CONFIG_RADIO_SHARK is not set
# CONFIG_RADIO_SHARK2 is not set
# CONFIG_USB_KEENE is not set
# CONFIG_USB_RAREMONO is not set
# CONFIG_USB_MA901 is not set
# CONFIG_RADIO_TEA5764 is not set
# CONFIG_RADIO_SAA7706H is not set
# CONFIG_RADIO_TEF6862 is not set
# CONFIG_RADIO_WL1273 is not set
# Texas Instruments WL128x FM driver (ST based)
# CONFIG_RADIO_WL128X is not set
CONFIG_MEDIA_TUNER=y
CONFIG_MEDIA_TUNER_SIMPLE=y
CONFIG_MEDIA_TUNER_TDA8290=y
CONFIG_MEDIA_TUNER_TDA827X=y
CONFIG_MEDIA_TUNER_TDA18271=y
CONFIG_MEDIA_TUNER_TDA9887=y
CONFIG_MEDIA_TUNER_TEA5761=y
CONFIG_MEDIA_TUNER_TEA5767=y
CONFIG_MEDIA_TUNER_MT20XX=y
CONFIG_MEDIA_TUNER_XC2028=y
CONFIG_MEDIA_TUNER_XC5000=y
CONFIG_MEDIA_TUNER_XC4000=y
CONFIG_MEDIA_TUNER_MC44S803=y
# CONFIG_ISDBT is not set
# CONFIG_MALI_TRACE_TIMELINE is not set
# CONFIG_MALI_DEVFREQ is not set
CONFIG_DDK_VERSION_OS="o"
CONFIG_MALI_R22P0=y
# CONFIG_MALI_MIDGARD_DVFS is not set
# CONFIG_MALI_JOB_DUMPING is not set
# CONFIG_EXYNOS7870_DISPLAY_COMMAND_MODE is not set
CONFIG_EXYNOS7870_DISPLAY_VIDEO_MODE=y
# CONFIG_DECON_USE_BOOTLOADER_FB is not set
CONFIG_DECON_COLORMAP_PROTECT_SWITCH=y
# CONFIG_EXYNOS_MIPI_DSI_ENABLE_EARLY is not set
CONFIG_PANEL_AID_DIMMING=y
# CONFIG_LCD_DOZE_MODE is not set
CONFIG_DISPLAY_USE_INFO=y
# CONFIG_PANEL_EA8061S_J7XE is not set
# CONFIG_PANEL_TD4300 is not set
# CONFIG_PANEL_S6E3AA2_A3Y17 is not set
# CONFIG_PANEL_S6E8AA5X01 is not set
# CONFIG_PANEL_S6E3FA3_J7Y17 is not set
CONFIG_PANEL_EA8061S_J7VE=y
# CONFIG_PANEL_S6E8AA5X01_A6LTE is not set
# CONFIG_PANEL_S6E8AA5X01_J6Y18 is not set
# CONFIG_SND_SOC_TFA_LOG is not set
# CONFIG_SND_SOC_CS35L40 is not set
# CONFIG_SND_SOC_COD30XX_EXT_ANT is not set
# CONFIG_DUAL_ROLE_USB_INTF is not set
CONFIG_MMC_UNIQUE_NUMBER=y
CONFIG_LEDS_S2MU005_FLASH=y
# CONFIG_LEDS_S2MU005_RGB is not set
CONFIG_S2MU005_LEDS_I2C=y
CONFIG_LEDS_SUPPORT_FRONT_FLASH=y
CONFIG_LEDS_SUPPORT_FRONT_FLASH_AUTO=y
# CONFIG_LEDS_RT8547 is not set
CONFIG_S2MU005_ACOK_NOTIFY=y
# CONFIG_BCM_WIMAX is not set
# CONFIG_FIQ_DEBUGGER is not set
# CONFIG_FIQ_WATCHDOG is not set
CONFIG_SEC_DEBUG_EXTRA_INFO=y
CONFIG_SEC_DEBUG_HW_PARAM=y
# CONFIG_SEC_DEBUG_AUTO_SUMMARY is not set
# CONFIG_SEC_HW_REV is not set
CONFIG_SEC_DEBUG_GAF_V3=y
# CONFIG_SEC_INCELL is not set
# CONFIG_IIO_BUFFER is not set
# CONFIG_IIO_TRIGGER is not set
CONFIG_PREVENT_SOC_JUMP=y
# CONFIG_CONDITIONAL_SAFETY_TIMER is not set
# CONFIG_S2MU005_INNER_BATTERY is not set
# CONFIG_EXYNOS_SNAPSHOT_SAVE_SLUGGISHINFO is not set
# CONFIG_USE_CCIC is not set
# CONFIG_CCIC_NOTIFIER is not set
# CONFIG_TRUSTONIC_TRUSTED_UI is not set
CONFIG_SENSORS=y
CONFIG_SENSORS_K2HH=y
# CONFIG_SENSORS_K2HH_VDD is not set
# CONFIG_SENSORS_LIS2DS is not set
# CONFIG_SENSORS_LIS2DS_I2C is not set
# CONFIG_SENSORS_LSM6DSL is not set
# CONFIG_SENSORS_LSM6DSL_I2C is not set
CONFIG_SENSORS_CM36672P=y
# CONFIG_SENSORS_CM36672P_SMART_PERS is not set
# CONFIG_SENSORS_TMD3725 is not set
# CONFIG_SENSORS_STK3013 is not set
# CONFIG_SENSORS_GP2AP070S is not set
# CONFIG_SENSORS_SX9310 is not set
# CONFIG_SENSORS_SX9320 is not set
# CONFIG_SENSORS_A96T3X6 is not set
# CONFIG_SENSORS_A96T3X6_J6 is not set
# CONFIG_SENSORS_A96T3X6_A6 is not set
# CONFIG_SENSORS_YAS537 is not set
# CONFIG_SENSORS_YAS539 is not set
# CONFIG_ST_LSM6DS3 is not set
# CONFIG_ST_LSM6DS3_I2C is not set
# CONFIG_SENSORS_FINGERPRINT is not set
# CONFIG_SENSORS_FINGERPRINT_32BITS_PLATFORM_ONLY is not set
# CONFIG_SENSORS_ET5XX is not set
# CONFIG_SENSORS_SSP is not set
# CONFIG_SENSORS_SSP_STM32 is not set
# CONFIG_SENSORS_SSP_2017A3 is not set
# CONFIG_SENSORS_SSP_ATUC128L5HAR is not set
# CONFIG_SENSORS_SSP_6AXIS is not set
# CONFIG_SENSORS_SSP_BMP280 is not set
# CONFIG_SENSORS_SSP_TMD3725 is not set
# CONFIG_SENSORS_SSP_AK09916 is not set
# CONFIG_SENSORS_SSP_MOBEAM is not set
CONFIG_EXT3_FS=y
CONFIG_EXT3_DEFAULTS_TO_ORDERED=y
CONFIG_EXT3_FS_XATTR=y
# CONFIG_EXT3_FS_POSIX_ACL is not set
# CONFIG_EXT3_FS_SECURITY is not set
# CONFIG_EXT4_FS_POSIX_ACL is not set
CONFIG_JBD=y
# CONFIG_JBD_DEBUG is not set
CONFIG_EXFAT_FS=y
CONFIG_EXFAT_VIRTUAL_XATTR=y
CONFIG_EXFAT_VIRTUAL_XATTR_SELINUX_LABEL="u:object_r:sdcard_external:s0"
CONFIG_EXFAT_SUPPORT_STLOG=y
# CONFIG_F2FS_FS is not set
# CONFIG_ENCRYPTED_KEYS is not set
# CONFIG_MST_LDO is not set
# CONFIG_INTEGRITY_SIGNATURE is not set
# CONFIG_FIVE is not set
# CONFIG_CRYPTO_CTS is not set
# CONFIG_CRYPTO_XTS is not set
# CONFIG_CRYPTO_CRC32 is not set
# CONFIG_ASYMMETRIC_KEY_TYPE is not set
